<section>
    <a href="/dashboard"> &larr; back to dashboard</a>
  <h2 class="title">create new blog post</h2><hr>

  <form class="new-thread-form" id="new-thread-form">
    <div>
      <label for="thread-title">title:</label>
      <input type="text" id="thread-title" name="thread-title" class="form-input"placeholder="insert blog title here"/>
    </div>
    <div>
      <label for="thread-content">content:</label>
      <input id="thread-content" class="form-input" name="thread-content" placeholder="insert blog content here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">create post</button>
  </form>
</section>

<script src="/js/add-thread.js"></script>